{% extends 'master.html' %}

{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    <div class="row">
        <div class="large-4 columns">
            <input type="text" name="name" placeholder="Name" />
        </div>

        <div class="large-4 columns">
            <input type="text" name="email" placeholder="Email Address" />
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <input type="text" name="company" placeholder="Company" />
        </div>
        <div class="large-4 columns">
            <input type="text" name="pay" placeholder="Pay (per month)"/>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            {{ form.start_date }}
        </div>
        <div class="large-4 columns">
            <input type="text" name="end_date" placeholder="End Date"/>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <input type="text" name="location" placeholder="Location"/>
        </div>
    </div>
    <div class="row">
        <div class="large-10 columns">
            <textarea rows="10" name="review" placeholder="Review your job"></textarea>
        </div>
    </div>
    <div class="row">
        <span class="large-4 columns">
            <input type="submit"/>
        </span>
    </div>
</form>
{% endblock content %}
