<!doctype html>

<html style="width:100%; height:100%;">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='css/foundation.min.css') }}">
        </link>
        <link rel="stylesheet" type="text/css"
            href="{{ url_for('static', filename='css/style.css') }}">
        </link>
        <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js">
            </script>
        <script type="text/javascript" 
            src="{{ url_for('static', filename='js/foundation.min.js') }}">
        </script>
        <title>Where RU Working??</title> 
        {% block header %} {% endblock header %}
    </head>
    <body style="width:100%; height:100%;">
        <div class="container" style="width:100%; height:100%;">
            {% block content %} {% endblock content %}
        </div>
        <div id="footer">
            {% block footer %} {% endblock footer %}
        </div>
    </body>

</html>
